body {
  margin: 100px;
  padding: 0;
  background: #0f0f17;
  font-family: Arial, sans-serif;
  color: white;
}

*{
  transition: all 0.3s ease;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-btn {
  background: #8e44ff;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.card {
  background: #161622;
  padding: 20px;
  border-radius: 14px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px #00000080;
}

.table-content{
  display: flex;
  gap: 1vw;
  background-color: #0f0f17;
  padding: 1vw;
  border-radius: 1vw 1vw 0vw 0vw;
  border: solid 0.1px rgba(255,255,255,0.200);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Table{
  display: flex;
  gap: 2.1vw;
  background-color: #0f0f17;
  padding: 1vw;
  border-radius: 0px 0px 1vw 1vw;
  border: solid 0.1px rgba(255,255,255,0.200);
}

.grade-table {
  width: 100%;
  border-collapse: collapse;
}

.grade-table th,
.grade-table td {
  padding: 10px;
  text-align: center;
}

.grade-table tr.ok {
  background: #12291d;
}

.grade-table tr.bad {
  background: #291212;
}

.remove-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.close-btn {
  width: fit-content;
  background: none;
  border: none;
  margin-left: auto;
  color: white;
  cursor: pointer;
}

.close-btn:hover{
  color: rgb(255, 76, 255);
  transform: translateY(-2px);
}

.setting-item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.ADD{
  margin-right: auto;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2vw;
  margin-right: auto;
  border-radius: .8vw;
  background: none;
  gap: 1vw;
  transition: all 0.3s ease;
}

.form > input{
  background:transparent;
  border-bottom: solid 0.1px rgba(255, 255, 255, 0.207);
  border-top: none;
  border-right: none;
  border-left: none;
  width: 30vw;
  padding: .8vw;
  color: rgb(78, 3, 3);
  transition: all 0.3s ease;
  margin-right:auto;
}

.form > input:hover{
  transform: translateY(-2px);
}

.form > input:focus{
  outline: none;
  color: white;
}

.btn{
  background-color: #0f0f173c;
  border: solid rgba(255, 255, 255, 0.209) 0.1px;
  color: white;
  margin-top: 10px;
  padding: .3vw .9vw;
  border-radius: .5w;
  border-radius: 1vw;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-2px);
  border: solid 0.1px rgba(255, 255, 255, 0.53);
  background-color: #2d2d41;
}

.add-btn {
  background: #4876ff;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.modal.large {
  max-width: 800px;
  width: 90%;
}

.modal{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
  border: solid 0.1px rgba(255, 255, 255, 0.119);
  background: #ffffff13;
  padding: 30px;
  border-radius: 12px;
  min-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.263) 0px 0px 50px 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}
