body {
  margin: 0;
  padding: 0;
  background: #0f0f17;
  font-family: Arial, sans-serif;
  color: white;
}

*{
  transition: all 0.3s ease;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-btn {
  background: #8e44ff;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.card {
  background: #161622;
  padding: 20px;
  border-radius: 14px;
  margin-top: 20px;
  box-shadow: 0px 0px 20px #00000080;
}

.table-content{
  display: flex;
  gap: 1vw;
  background-color: #0f0f17;
  padding: 1vw;
  border-radius: 1vw 1vw 0vw 0vw;
  border: solid 0.1px rgba(255,255,255,0.200);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Table{
  display: flex;
  gap: 2.1vw;
  background-color: #0f0f17;
  padding: 1vw;
  border-radius: 0px 0px 1vw 1vw;
  border: solid 0.1px rgba(255,255,255,0.200);
}

.grade-table {
  width: 100%;
  border-collapse: collapse;
}

.grade-table th,
.grade-table td {
  padding: 10px;
  text-align: center;
}

.grade-table tr.ok {
  background: #12291d;
}

.grade-table tr.bad {
  background: #291212;
}

.remove-btn {
  background: #ff4d4d;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #1d1d2a;
  padding: 30px;
  border-radius: 12px;
  min-width: 300px;
}

.close-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #444;
  border: none;
  color: white;
  cursor: pointer;
}

.setting-item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 9vw;
  padding: 2vw;
  border-radius: .8vw;
  background-color: #161622;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.300);
  gap: 1vw;
  border: solid rgba(255, 255, 255, 0.209) 0.1px;
  transition: all 0.3s ease;
}

.form:hover{
  box-shadow: none;
}

.form > input{
  background-color: #3e3e3e;
  border: solid 0.1px rgba(255, 255, 255, 0.207);
  padding: .4vw;
  color: rgb(78, 3, 3);
  border-radius: .2vw;
  transition: all 0.3s ease;
}

.form > input:hover{
  transform: translateY(-2px);
  border: solid 0.1px rgba(191, 0, 255, 0.312);
}

.form > input:focus{
  border: solid 0.1px rgba(255, 0, 0, 0.312);
  outline: none;
  color: white;
}

.btn{
  background-color: #0f0f17;
  border: solid rgba(255, 255, 255, 0.209) 0.1px;
  color: white;
  margin-top: 10px;
  padding: .3vw .9vw;
  border-radius: .5w;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-2px);
}